src/main/mule/mule-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ba8087f-8a06-4753-aea7-74a2ee95eb52" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-pocFlow" doc:id="838672fc-6fc4-4372-9394-bb038539d877" >
		<http:listener doc:name="Listener" doc:id="12ecc37b-b214-46c2-8801-6328325839e6" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="c1955df5-3ea8-4283-b67d-0fe3834d6e1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Poc": "jenkins"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d63ef80a-99d4-449f-b414-2c368300379f" message="#[payload]"/>
	</flow>
</mule>
